# Public domain of the product page and directory, e.g. crocodile.chat
CROC_DOMAIN=
# Email for Let's Encrypt certificates
CROC_EMAIL=
# Optional
CROC_COORD_NAME=Crocodile main
CROC_REGION=eu-central
CROC_RELAY=on
CROC_RELAY_MAX_USERS=25
CROC_MAILBOX=on
CROC_MAILBOX_DAYS=3
